nav {
  background-color: #ECF0F1;
  width: 100%;
}

#icone-voltar {
  &:hover {
    opacity: 0.8;
  }
}

#titulo {
  margin-top: 58px;
  color: #F39C12;
  font-weight: bold;
}

form .btn {
  display: flex;
  align-items: center;
  width: fit-content;
  background-color: #27AE60;
  padding: 3px 6px;
  text-decoration: none;
  color: black;
  font-size: small;
  font-weight: 500;

  &:hover {
    background-color: #27AE60;
    opacity: 0.8;
  }
}