nav {
  background-color: #ECF0F1;
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#introducao {
  margin-top: 58px;
  margin-bottom: 58px;
  font-weight: bold;
}

#cards {
  gap: 100px;
  margin-bottom: 69.5px;
}

#card {
  min-width: 25%;
  background-color: #ECF0F1;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#card-relatorios {
  min-width: 84%;
  background-color: #ECF0F1;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}